body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

a {
    color: #4CAF50; /* Optional: Set link color */
}

a:hover {
    color: #76FF03; /* Optional: Set link hover color */
}
